<?xml version="1.1" encoding="UTF-8" ?>
<config>

	<window
		title="Vulkan Learning Game Engine"
		width="1200"
		height="800"
	></window>
			
	<current_scene
		id="1"
	></current_scene>

	<render_mode name="PATHTRACER"></render_mode>

	<env_map
		size="512"
	></env_map>

	<irradiance_map
		size="64"
	></irradiance_map>

	<scene_configs>
		<scene id="0" 
			path="builder/scene.gltf"
			hdr="kloppenheim_06_puresky_2k.hdr" 
			scaleFactor = "1" 
			needRotation = "1" 
			radians = "-90" 
			axisX = "1" 
			axisY = "0" 
			axisZ ="0"
			useSun = "1"
			useUniformGeneratePointLight = "0"
			numUniformPointLightPerAxis = "7"
			sunDirection_axisX = "0.532" 
			sunDirection_axisY = "-0.847" 
			sunDirection_axisZ ="-0.008"
			sunColor_axisX = "1" 
			sunColor_axisY = "0" 
			sunColor_axisZ ="0"
		></scene>
		<scene id="1" 
			path="sponza.obj"
			hdr="kloppenheim_06_puresky_2k.hdr"  
			scaleFactor = "1" 
			needRotation = "0"
			useSun = "1"
			useUniformGeneratePointLight = "1"
			numUniformPointLightPerAxis = "3"
			sunDirection_axisX = "0.532" 
			sunDirection_axisY = "-0.847" 
			sunDirection_axisZ ="-0.008"
			sunColor_axisX = "1" 
			sunColor_axisY = "0" 
			sunColor_axisZ ="0"			 
		></scene>
		<scene id="2" 
			path="lost_empire.obj"
			hdr="kloppenheim_06_puresky_2k.hdr" 			 
			scaleFactor = "1" 
			needRotation = "0"
			useSun = "1"
			useUniformGeneratePointLight = "1"
			numUniformPointLightPerAxis = "2"
			sunDirection_axisX = "1" 
			sunDirection_axisY = "0" 
			sunDirection_axisZ ="0"
			sunColor_axisX = "1" 
			sunColor_axisY = "0" 
			sunColor_axisZ ="0" 
		></scene>
		<scene id="3" 
			path="r46_subway/scene.gltf"
			hdr="kloppenheim_06_puresky_2k.hdr" 			 
			scaleFactor = "1" 
			needRotation = "0"
			useSun = "1"
			useUniformGeneratePointLight = "0"
			numUniformPointLightPerAxis = "0"
			sunDirection_axisX = "1" 
			sunDirection_axisY = "0" 
			sunDirection_axisZ ="0"
			sunColor_axisX = "1" 
			sunColor_axisY = "0" 
			sunColor_axisZ ="0" 
		></scene>				
	</scene_configs>
	

</config>