<?xml version="1.1" encoding="UTF-8" ?>
<config>

	<window
		title="Vulkan Learning Game Engine"
		width="1200"
		height="800"
	></window>
			
	<current_scene
		id="2"
	></current_scene>

	<render_mode name="PATHTRACER"></render_mode>

	<env_map
		size="512"
	></env_map>

	<irradiance_map
		size="64"
	></irradiance_map>

	<scene_configs>
		<scene id="0" 
			path="builder/scene.gltf"
			hdr="kloppenheim_06_puresky_2k.hdr" 
			scaleFactor = "1" 
			needRotation = "1" 
			radians = "-90" 
			axisX = "1" 
			axisY = "0" 
			axisZ ="0"
			useSun = "1"
			useUniformGeneratePointLight = "0"
			numUniformPointLightPerAxis = "7"
			sunDirection_axisX = "0.532" 
			sunDirection_axisY = "-0.847" 
			sunDirection_axisZ ="-0.008"
			sunColor_axisX = "1" 
			sunColor_axisY = "0" 
			sunColor_axisZ ="0"
			useCustomCameraPos = "0"
		></scene>
		<scene id="1" 
			path="sponza.obj"
			hdr="kloppenheim_06_puresky_2k.hdr"  
			scaleFactor = "1" 
			needRotation = "0"
			useSun = "1"
			useUniformGeneratePointLight = "0"
			numUniformPointLightPerAxis = "2"
			sunDirection_axisX = "0.532" 
			sunDirection_axisY = "-0.847" 
			sunDirection_axisZ ="-0.008"
			sunColor_axisX = "1" 
			sunColor_axisY = "1" 
			sunColor_axisZ ="1"
			useCustomCameraPos = "1"
			camPos_axisX = "-950" 
			camPos_axisY = "407" 
			camPos_axisZ = "28"
			camPitch = "-0.006"
			camYaw	= "4.581"		 
		></scene>
		<scene id="2" 
			path="lost_empire.obj"
			hdr="kloppenheim_06_puresky_2k.hdr" 			 
			scaleFactor = "1" 
			needRotation = "0"
			useSun = "1"
			useUniformGeneratePointLight = "0"
			numUniformPointLightPerAxis = "2"
			sunDirection_axisX = "0.721" 
			sunDirection_axisY = "-0.693" 
			sunDirection_axisZ ="-0.013"
			sunColor_axisX = "1" 
			sunColor_axisY = "1" 
			sunColor_axisZ ="1" 
			useCustomCameraPos = "1"
			camPos_axisX = "-30.816" 
			camPos_axisY = "27.660" 
			camPos_axisZ = "14.089"
			camPitch = "-0.027"
			camYaw	= "-1.464"
		></scene>
		<scene id="3" 
			path="r46_subway/scene.gltf"
			hdr="kloppenheim_06_puresky_2k.hdr" 			 
			scaleFactor = "1" 
			needRotation = "0"
			useSun = "0"
			useUniformGeneratePointLight = "0"
			numUniformPointLightPerAxis = "0"
			sunDirection_axisX = "1" 
			sunDirection_axisY = "0" 
			sunDirection_axisZ ="0"
			sunColor_axisX = "1" 
			sunColor_axisY = "0" 
			sunColor_axisZ ="0"
			useCustomCameraPos = "1"
			camPos_axisX = "15.949" 
			camPos_axisY = "0.655" 
			camPos_axisZ = "-4.472"
			camPitch = "0.354"
			camYaw	= "1.816"
		></scene>				
	</scene_configs>
	

</config>